*{
    margin: 0;
    padding: 0;
    background-color: black;
}


h1 , p{
    color: white;
}


.lyrics-box, .lyrics-box{
    background-color: #ff7f51;
    width: 200px;
    height: 20px;
    border-radius: 2px;
}

textarea:focus, input:focus, input{
    outline: none;
    border: none;
}